@page "/buys_medicine_froms/delete"
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<PharmacyWeb.Data.PharmacyWebContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>BUYS_MEDICINE_FROM</h2>
    <hr />
    @if (buys_medicine_from is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Customer SSN</dt>
            <dd class="col-sm-10">@buys_medicine_from.C_SSN</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Pharmacy ID</dt>
            <dd class="col-sm-10">@buys_medicine_from.Pharmacy_ID</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Medicine ID</dt>
            <dd class="col-sm-10">@buys_medicine_from.Medicine_ID</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Buy Amount</dt>
            <dd class="col-sm-10">@buys_medicine_from.Buy_amount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Transaction Date</dt>
            <dd class="col-sm-10">@buys_medicine_from.Transaction_date</dd>
        </dl>
        <EditForm method="post" Model="buys_medicine_from" OnValidSubmit="DeleteBUYS_MEDICINE_FROM" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(buys_medicine_from is null)">Delete</button> |
            <a href="/buys_medicine_froms">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private BUYS_MEDICINE_FROM? buys_medicine_from;

    [SupplyParameterFromQuery]
    private int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        buys_medicine_from = await context.BUYS_MEDICINE_FROM.FirstOrDefaultAsync(m => m.ID == ID);

        if (buys_medicine_from is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteBUYS_MEDICINE_FROM()
    {
        using var context = DbFactory.CreateDbContext();
        await context.BUYS_MEDICINE_FROM.Where(b => b.ID == ID).ExecuteDeleteAsync();
        NavigationManager.NavigateTo("/buys_medicine_froms");
    }
}
